.search-form-control {
	font-family: var(--tblr-font-sans-serif);
	font-size: .875rem;
	font-weight: 400;
	line-height: .7rem;
	color: inherit;
	background-color: var(--tblr-bg-forms);
	background-clip: padding-box;
	border: var(--tblr-border-width) solid var(--tblr-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: var(--tblr-border-radius);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 2px;
}
.search-form-control:focus {
	color: inherit;
	background-color: var(--tblr-bg-forms);
	border-color: #90b5e2;
	outline: 0;
	box-shadow: 0 0 0 .10rem rgba(32,107,196,.25);
}

table.dataTable thead th, table.dataTable tfoot th {
	font-weight: normal !important; 
}