:root {
	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
	--tblr-font-monospace:  "Source Code Pro", monospace;
	--tblr-body-font-size: 0.75rem;
}

.invalid-feedback {
    display: block;
}

.dropdown-title {
	min-width: 11rem;
	display: flex;
	align-items: center;
	margin: 0;
	width: 100%;
	padding: var(--tblr-dropdown-item-padding-y) var(--tblr-dropdown-item-padding-x);
	clear: both;
	font-weight: 600;
	color: var(--tblr-dropdown-link-color);
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.form-control {
	font-size: 0.75rem !important;
}